<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>편의점 도시락 여행</title>

        <!-- style -->
        <style type="text/css">
            * {
                font-family: "Stylish", sans-serif;
            }

            .wrap {
                width: 900px;
                margin: auto;
            }

            .comment {
                color: blue;
                font-weight: bold;
            }

            #post-box {
                width: 500px;
                margin: 20px auto;
                padding: 50px;
                border: black solid;
                border-radius: 5px;
            }
        </style>
        <script>
            let myConvenience='CU'
            $(document).ready(function () {
                showLunchboxes();
            });

            function buttonCU() {
                myConvenience='CU'
                showLunchboxes();

            }

            function button7Eleven() {
                myConvenience='Eleven'
                showLunchboxes();
            }

            function buttonGS25() {
                myConvenience='GS25'
                showLunchboxes();
            }

            function likeLunchbox(title) {
                $.ajax({
                    type: 'POST',
                    url: '/api/like',
                    data: {title_give:title},
                    success: function (response) {
                        alert(response['msg']);
                        showLunchboxes();
                    }
                });
            }

            function showLunchboxes() {
                $("#cards-box").empty()

                $.ajax({
                    type: "GET",
                    url: "/memo",
                    data: {},
                    success: function (response) {
                        let lunchboxes=response['all_lunchbox']

                        for(let i=0; i<lunchboxes.length;i++) {
                            let title=lunchboxes[i]['title']
                            let image=lunchboxes[i]['img_url']
                            let cost=lunchboxes[i]['cost']
                            let like=lunchboxes[i]['like']
                            let convenience=lunchboxes[i]['convenience']

                            if(convenience != myConvenience)
                                continue

                            let temp_html =`<div class="card">
                                            <img class="card-img-top"
                                                 src="${image}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-title">${title}</p>
                                                <p class="card-text">${cost}</p>
                                                <p class="card-text">${like}</p>
                                                <footer class="card-footer">
                                                    <a href="#" onclick="likeLunchbox('${title}')" class="card-footer-item has-text-info">
                                                       좋아요!
                                                        <span class="icon">
                                              <i class="fas fa-thumbs-up"></i>
                                            </div>
                                        </div>`

                            $('#cards-box').append(temp_html)

                        }
                    }
                })
            }
        </script>

    </head>

    <body>
        <div class="wrap">
            <div class="jumbotron">
                <h1 class="display-4">편의점 식도락 여행!</h1>
                <p class="lead">밥은 먹고 삽시다 ^^</p>
                <hr class="my-4">
                <p class="lead">
                    <button onclick="buttonCU()" id="btn-post-box_CU" type="button" class="btn btn-primary">CU
                    </button>
                    <button onclick="button7Eleven()" id="btn-post-box_7Eleven" type="button" class="btn btn-primary">7Eleven
                    </button>
                    <button onclick="buttonGS25()" id="btn-post-box" type="button_GS25" class="btn btn-primary">GS25
                    </button>
                </p>
            </div>
            <div id="cards-box" class="card-columns">
            </div>
        </div>
    </body>

</html>